@model SimpleBlog.Areas.Admin.ViewModels.UsersEdit

<h1>Edit User @Model.Username</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor((f => f.Username))
        @Html.TextBoxFor(f => f.Username, new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Email)
        @Html.TextBoxFor(f => f.Email, new {@class = "form-control", type = "email"})
    </div>

    <input type="submit" value="Update User" class="btn btn-primary"/>
    <a href="@Url.Action("index")">or cancel</a>
}
