@using System.Web.Optimization
@{
	Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title - SimpleBlog</title>
    @Styles.Render("~/styles")
</head>

<body>

<header>
    <h1>
        <a href="@Url.RouteUrl("home")">Simple Blog</a>
        <i class="glyphicon-bell"></i>
    </h1>

    @*    if  logged in, show the logout *@
    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome back, @User.Identity.Name</p>
        <a href="@Url.RouteUrl("logout")">logout</a>

        if (User.IsInRole("admin"))
        {
            <a href="@Url.Action("index", "Posts", new {area = "admin"})">View posts in admin</a>
        }
    }
    else
    {
        <a href="@Url.RouteUrl("login")">Login</a>
    }

</header>

@RenderBody()

<footer>
    <p>&copy; @DateTime.UtcNow.Year - Jordan Taylor</p>
</footer>

@Scripts.Render("~/scripts")
@RenderSection("Scripts", false)

</body>

</html>